{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">

        <div class="well well-centered clearfix">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="title-detail">{{ post.title }}</h2>
                </div>

                <div class="col-xs-12 text-center">
                    <h4>{{ post.content|linebreaks }}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h5 class="my-inline-block">Author - </h5>
                        <p class="my-inline-block">{{ post.author }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h5 class="my-inline-block">Created Date - </h5>
                        <p class="my-inline-block">{{ post.created_date }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {% if post.published_date %}
                    <div class="">
                        <h5 class="my-inline-block">Published Date - </h5>
                        <p class="my-inline-block">{{ post.published_date }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if user.is_authenticated and user == post.author %}
                            <a class="btn btn-warning btn-raised" href="{% url 'post_update' pk=post.pk %}">Edit</a>
                {#            <a class="btn btn-warning btn-raised" href="{% url 'post_remove' pk=post.pk %}">Delete</a>#}
                            {% endif %}

                            {% if user.is_authenticated and user == post.author %}
                                {% if not post.published_date %}
                                <form class="my-inline-block" action="{% url 'post_publish' pk=post.pk %}" method="GET">
                                    {% csrf_token %}
                                    <input class="btn btn-warning btn-raised" type="submit" value="Publish">
                                </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            {% if user.is_authenticated and user == post.author %}
                            <form class="my-inline-block" action="{% url 'post_delete' pk=post.pk %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-warning btn-raised" type="submit" value="Delete">
                            </form>
                            {% endif %}

                            {% if user.is_authenticated %}
                            <a class="btn btn-warning btn-raised" href="{% url 'post_comment_create' post_id=post.pk %}">Add Comment</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
{% for comment in post.comment_set.all %}
    <div class="col-xs-8 col-xs-offset-2">
        {% if user.is_authenticated and user == post.author %}
{#        <a class="btn btn-danger btn-raised comment_button" href="">#}
{#            <span class="glyphicon glyphicon-remove"></span>#}
{#        </a>#}
{#        <a class="btn btn-success btn-raised comment_button" href="">#}
{#            <span class="glyphicon glyphicon-ok"></span>#}
{#        </a>#}
        {% endif %}

        <div class="well well-centered clearfix">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h4 class="title-detail">{{ comment.content|linebreaks }}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h5 class="my-inline-block">Author - </h5>
                        <p class="my-inline-block">{{ comment.author }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h5 class="my-inline-block">Created Date - </h5>
                        <p class="my-inline-block">{{ comment.created_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}

    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-centered clearfix">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h4 class="">No comments yet</h4>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>

{% endblock content %}
