{% extends 'blog/base.html' %}

{% block content %}
    {% if posts %}
        {% for post in posts %}

        <div class="post">
            <div class="my-inline-block">
                <p>author: {{ post.author }} ,&nbsp; &nbsp;</p>
            </div>

            <div class="date my-inline-block">
                <p>created on: {{ post.created_date|date:'d-m-y' }}</p>
            </div>

            <div>
                <h2>
                    <a class="title" href="{% url 'post_detail' pk=post.pk %}">
                        {{ post.title }}
                    </a>
                </h2>
            </div>

            <div class="text">
                <p>{{ post.text|linebreaks }}</p>
            </div>
        </div>

        {% endfor %}
    {% else %}

    <p class="draft">You have no drafts!!</p>

    {% endif %}
{% endblock %}


